name: Github Rebot for Sealos test PR

on:
  - push
  - pull_request_target

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.20.x
      - uses: actions/checkout@v3
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: build --snapshot --clean  --timeout=1h
      - name: Copy file
        run: |
          sudo cp dist/gh-rebot_linux_amd64_v1/gh-rebot  /usr/bin/gh-rebot
      - if: ${{ (github.event_name != 'push') }}
        run: |
          gh-rebot action
        env:
          SEALOS_TYPE: "pr_comment"
          SEALOS_FILENAME: "templates/template.md"
          SEALOS_REPLACE_TAG: "DEFAULT"
          GH_TOKEN: "${{ secrets.GH_PAT }}"
